body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.75em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-panel {
    margin-top:10px;
}

.button-panel button {
    margin-right: 10px;
}

.line-field {
    margin:15px 0;
}

.group-contacts-field {
    padding:20px;
}

.scroll-list {
    max-height: 400px;
    overflow: auto;
}

.welcome {
    padding:20px;
    margin: 20px 0;
    font-variant: small-caps;
}
